/*
 * The settings file is used to specify which projects to include in your build.
 * For more detailed information on multi-project builds, please refer to
 * https://docs.gradle.org/8.8/userguide/multi_project_builds.html in the Gradle
 * documentation. This project uses @Incubating APIs which are subject to
 * change.
 */

rootProject.name = "{{project_artifact_id}}"

plugins {
    // Apply the foojay-resolver plugin to allow automatic download of JDKs
    // Note: there is no easy way to use version catalogs in
    // `settings.gradle.kts`
    id("org.gradle.toolchains.foojay-resolver-convention") version "{{_foojay_resolver_convention_version}}"
}
