# https://docs.gradle.org/current/userguide/platforms.html#sub::toml-dependencies-format
#
# TODO: Look into the following:
# - https://github.com/lukas-krecan/JsonUnit

[versions]
arrow-core = "{{_arrow_core_version}}"
checker-framework-qualifier = "{{_checker_framework_qualifier_version}}"
jakarta-annotation-api = "{{_jakarta_annotation_api_version}}"
lombok-gradle-plugin = "{{_lombok_gradle_plugin_version}}"
task-tree = "{{_task_tree_version}}"

# Logging
log4j = "{{_log4j_version}}" # BOM-like
slf4j-api = "{{_slf4j_api_version}}"

# Testing
assertJ = "{{_assertJ_version}}"
delta-coverage = "{{_delta_coverage_version}}"
junit = "{{_unit_version}}" # BOM-like
mockito = "{{_mockito_version}}" # BOM-like

# Formatting
spotless = "{{_spotless_version}}"

# Misc
checker-framework = "{{_checker_framework_version}}"

[libraries]
arrow-core = { module = "io.arrow-kt:arrow-core-jvm", version.ref = "arrow-core" }
jakarta-annotation-api = { module = "jakarta.annotation:jakarta.annotation-api", version.ref = "jakarta-annotation-api" }
checker-framework-qualifier = { module = "org.checkerframework:checker-qual", version.ref = "checker-framework-qualifier" }

# Logging
log4j-api = { module = "org.apache.logging.log4j:log4j-api", version.ref = "log4j" }
log4j-core = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j" }
log4j-slf4j2-impl = { module = "org.apache.logging.log4j:log4j-slf4j2-impl", version.ref = "log4j" }
slf4j-api = { module = "org.slf4j:slf4j-api", version.ref = "slf4j-api" }

# Testing
assertJ = { module = "org.assertj:assertj-core", version.ref = "assertJ" }
junit = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit" }
mockito-core = { module = "org.mockito:mockito-core", version.ref = "mockito" }
mockito-junit = { module = "org.mockito:mockito-junit-jupiter", version.ref = "mockito" }

[plugins]
lombok-gradle-plugin = { id = "io.freefair.lombok", version.ref = "lombok-gradle-plugin"}
task-tree = { id = "com.dorongold.task-tree", version.ref = "task-tree"}

# Improve Java Type System
checker-framework = { id = "org.checkerframework", version.ref = "checker-framework"}

# Code Formatting
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }

# Code Coverage
delta-coverage = { id = "io.github.surpsg.delta-coverage", version.ref = "delta-coverage" }

[bundles]
jvm-shared-logging-implementation = [
    "log4j-api",
    "log4j-slf4j2-impl",
    "slf4j-api",
]
jvm-shared-testing = [
    "assertJ",
    "junit",
    "mockito-core",
    "mockito-junit",
]

{#- # vim: set filetype=toml : -#}
