package {{project_group_id}}.{{ project_artifact_id_package_name_suffix }};

public final class Main {
    public static void main(String[] args) {
        System.out.println("Hello World!");

        for (var arg : args) {
            System.out.println(arg);
        }
    }

    private Main() {}
}
